* {
    padding: 0;
    margin: 0;
    color: #fff;
}

html, body {
    background-color: transparent;
}

main {
    width: 256px;
    padding: 12px;
    background-color: #333;
}

h1 {
    color: darkorange;
    margin: 4px 0;
}

.modal {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100swh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Ensure it appears above other content */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
