<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous">
        </script>
        <link href="/assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1><a href="/" style="text-decoration: none;">Ferrum Vault</a></h1>
        </header>
        <div>
            {# <aside>
                <ul>
                    <li class="active">
                        <div
                            hx-get="/htmx/passwords"
                            hx-trigger="click"
                            hx-target="#main"
                            hx-swap="innerHTML"
                        >
                            Passwords
                        </div>
                    </li>
                    <!-- <li><a href="/contacts">Contacts</a></li>
                    <li><a href="/recovery-codes">Recovery Codes</a></li> -->
                </ul>
            </aside> #}
            <main id="main">
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer>
            <p>Copyright &copy; 2024 - Luca Lewin. All Rights Reserved.</p>
        </footer>
        <!-- <div class="card">
            <form id="add_pwd">
                <h2>Create new password!</h2>
                <label for="service">Service</label>
                <input name="service" id="service" />
                <label for="username">Username</label>
                <input name="username" id="username"/>
                <label for="password">Password</label>
                <input name="password" id="password"/>
                <label for="master">Master Password</label>
                <input name="master_password" id="master" />
                <input type="submit" />
            </form>
            <form id="get_pwd">
                <h2>View password!</h2>
                <label for="service">Service</label>
                <input name="service" id="service"/>
                <label for="username">Username</label>
                <input name="username" id="username"/>
                <label for="master">Master Password</label>
                <input name="master_password" id="master"/>
                <input type="submit" />
                <pre id="output">Password will be shown here!</pre>
            </form>
        </div>
        <div class="card">
            <ul id="service-list"></ul>
        </div>
        <script src="/assets/js/script.js"></script> -->
    </body>
</html>
