<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1><a href="/">Ferrum Vault</a></h1>
        </header>
        <div>
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer class="w-full ">
            <p>Copyright &copy; 2024 - Luca Lewin. All Rights Reserved.</p>
        </footer>
    </body>
</html>
