{% extends "layouts/base.html" %}
{% block content %}
<div>
    <ul class="pw-list">
        <li class="pw-entry">
            <h3>Service</h3>
            <h3>Username</h3>
        </li>
        {% for entry in entries %}
            <li>
                <a href="/signin/challenge?id={{ entry.id }}" class="pw-entry">
                    <span>{{ entry.service }}</span>
                    <span>{{ entry.username }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
